<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--
    FFXIV クライアント:ffxiv_dx11
    Google Chrome ブラウザ:chrome
    メモ帳:notepad
    電卓:Calculator
    -->
    <add key="PROCESS_NAME" value="ffxiv_dx11" />

    <add key="SAVE.DIRECTORY" value="" />
    <add key="SAVE.FILE.DIRECTORY" value="\YYYY\MM\DD" />
    <add key="SAVE.FILE.NAME" value="IMG_\INDEX" />
    <add key="SAVE.FILE.TYPE" value="PNG+JPEG" />
    <add key="SAVE.FILE.QUALITY" value="100" />
    <add key="SAVE.FILE.COPYRIGHT" value="0" />
    <add key="SAVE.FILE.INDEX" value="1" />
  </appSettings>
</configuration>