<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--
    FFXIV クライアント:ffxiv_dx11
    Google Chrome ブラウザ:chrome
    メモ帳:notepad
    電卓:Calculator
    FlowScape:FlowScape
    原神:GenshinImpact
	BLUE PROTOCOL BENCHMARK:BP_Benchmark-Win64-Shipping
    -->
    <add key="PROCESS_NAME" value="ffxiv_dx11" />

    <add key="SAVE.DIRECTORY" value="" /><!-- Default:MyPictures\%PROCESS_NAME%_CAPTURE\ -->
    <add key="SAVE.FILE.DIRECTORY" value="\YYYY\MM\DD" />
    <add key="SAVE.FILE.NAME" value="IMG_\INDEX" />
    <add key="SAVE.FILE.TYPE" value="PNG+JPEG" /><!-- PNG,JPEG,TIFF,PNG+JPEG,TIFF+JPEG -->
    <add key="SAVE.FILE.QUALITY" value="100" />
    <add key="SAVE.FILE.COPYRIGHT" value="0" /><!-- Enabled First Capture File -->
    <add key="SAVE.FILE.INDEX" value="1" />
    
    <add key="GUIDE.LOCATION.ALIGNMENT" value="Right+Top" /><!-- Center,Left+Top,Left+Bottom,Right+Top,Right+Bottom -->
    
    <add key="TRIM.LOCATION.LEFT" value="0" /><!-- LEFT = 0 And TOP = 0 Then Defaut Location -->
    <add key="TRIM.LOCATION.TOP" value="0" />
    <add key="TRIM.SIZE.WIDTH" value="600" />
    <add key="TRIM.SIZE.HEIGHT" value="400" />
    <add key="TRIM.ASPECT_RATIO.TYPE" value="3" />
    <add key="TRIM.COMPOTION.TYPE" value="2" />
	<add key="TRIM.COMPOTION.USER.1" value="黄金螺旋-横x4,20,21,22,23" />
	<add key="TRIM.COMPOTION.USER.2" value="黄金螺旋-縦x4,24,25,26,27" />
	<add key="TRIM.COMPOTION.USER.3" value="黄金三角形-左下+対角,16,7,0,0" />
	<add key="TRIM.COMPOTION.USER.4" value="黄金三角形-左上+対角,17,6,0,0" />
	<add key="TRIM.COMPOTION.USER.5" value="X字+黄金三角形-横,5,16,17,0" />
	<add key="TRIM.COMPOTION.USER.6" value="X字+黄金三角形-縦,5,18,19,0" />
	<add key="TRIM.COMPOTION.USER.7" value="黄金三角形+黄金螺旋(横撮影向け),16,22,23,0" />
	<add key="TRIM.COMPOTION.USER.8" value="黄金三角形+黄金螺旋(縦撮影向け),18,20,21,0" />
	<add key="TRIM.COMPOTION.USER.9" value="ユーザー9,1,2,3,4" />
	<add key="CAMERA.CONTROL.WAIT_FOR_GAME_RESPONSE" value="0" />
	<add key="CAMERA.CONTROL.WASD_PUSH_WEIGHT" value="20" />
	<add key="CAMERA.CONTROL.ARROW_PUSH_WEIGHT" value="50" />
	<add key="CAMERA.CONTROL.PAGEUD_PUSH_WEIGHT" value="20" />
  </appSettings>
</configuration>